

$name: 'Stacklane Console';

$login-with: 'Log In With {0}';
$logout: 'Log Out';

$signup: 'Sign Up';
$signup-with: 'Sign Up With {0}';

$logged-in-as: 'Logged in as {0}';

$action-next: 'Next';
$submitting: 'Submitting';

$tabs-boxed: true;

/**
 * Stripe
 */
$stripe-plan-id: '';
$stripe-pk: '';