/*********************
 * @category messages
 *********************/

/**
 * @title Title
 */
$name: 'Stacklane Console';

$login-with: 'Log In With {0}';
$logout: 'Log Out';

$signup: 'Sign Up';
$signup-with: 'Sign Up With {0}';

$logged-in-as: 'Logged in as {0}';

$action-next: 'Next';
$submitting: 'Submitting';



/*********************
 * @category options
 *********************/

/**
 * @title Boxed Tabs
 */
$tabs-boxed: true;

/**
 * Stripe
 */

/**
 * @title Stripe Plan ID
 */
$stripe-plan-id: '';

/**
 * @title Stripe Public Key
 */
$stripe-pk: '';