/*********************
 * @category messages
 *********************/

/**
 * @title Title
 */
$name: 'Stacklane Console';

$login-with: 'Sign In With {0}';
$logout: 'Sign Out';

$signup: 'Sign Up';
$signup-with: 'Sign Up With {0}';

$docs: 'https://stacklane.com/docs/';
$contact: 'https://stacklane.com/contact';

//$logged-in-as: 'Logged in as {0}';

$action-next: 'Next';
$submitting: 'Submitting';

$feature-hosting-location: 'Hosting Locations';
$feature-hosting-location-about: 'Code is replicated across many geographically isolated regions, \
  automatically routing traffic to the closest available.';

$feature-hosting-units: 'Included Stack Units';
$feature-hosting-units-add: 'Additional Stack Units';

$feature-data-location: 'Model Storage Area';
$feature-data-location-about: 'The general geographical area where data is stored and encrypted-at-rest. \
  Data is replicated across multiple regions in this geographic area, and further replicated across multiple zones in a region. \
  Data storage can withstand the loss of entire regions and maintain availability without losing data.';


/*********************
 * @category options
 *********************/

/**
 * @title Stripe Public Key
 */
$stripe-pk: '';

