
$box-spacious-vertical-default: 30px;
$box-spacious-vertical-tablet: 60px;
$box-spacious-vertical-desktop: 60px;

$box-spacious-horizontal-default: 30px;
$box-spacious-horizontal-tablet: 30px;
$box-spacious-horizontal-desktop: 40px;

.box.is-spacious{
  padding: $box-spacious-vertical-default $box-spacious-horizontal-default;

  hr{
    margin: 2.5rem 0;
  }
}
@include tablet(){
  .box.is-spacious {
    padding: $box-spacious-vertical-tablet+20px $box-spacious-horizontal-tablet;
  }
}
@include desktop(){
  .box.is-spacious {
    padding: $box-spacious-vertical-desktop+20px $box-spacious-horizontal-desktop;
  }
}

//////

.box.is-empty{
  display: flex;
  align-items: center;
  justify-content: center;
  //text-align: center; // use has-text-centered
  min-height: 300px;
}
@include tablet(){
  .box.is-empty{
    min-height: 500px;
  }
}

///////

/**
 * .box like, with a series of section elements as direct children
 */
.box-stack{
  @extend %block;

  background-color: $box-background-color;
  border-radius: $box-radius;
  box-shadow: $box-shadow;
  color: $box-color;

  section{
    box-shadow: inset 0 -1px #e3e8ee;

    padding: 16px 20px;

    &.is-offset{
      //background-color: #f7fafc;
      background-color: rgba(0,0,0,.01);
    }

    &.buttons{ /* standard Bulma class */
      justify-content: flex-end;
    }
  }

  section:last-child{
    box-shadow: none;
  }
}

.box-stack.is-spacious{
  section{
    padding: $box-spacious-vertical-default $box-spacious-horizontal-default;
  }
  section:first-child{
    padding-top: $box-spacious-vertical-default;
  }
  section:last-child{
    padding-bottom: $box-spacious-vertical-default;
  }
}

@include tablet(){
  .box-stack.is-spacious{
    section{
      padding-left: $box-spacious-horizontal-tablet;
      padding-right: $box-spacious-horizontal-tablet;
    }
    section:first-child{
      padding-top: $box-spacious-vertical-tablet;
    }
    section:last-child{
      padding-bottom: $box-spacious-vertical-tablet;
    }
  }
}
@include desktop(){
  .box-stack.is-spacious{
    section{
      padding-left: $box-spacious-horizontal-desktop;
      padding-right: $box-spacious-horizontal-desktop;
    }
    section:first-child{
      padding-top: $box-spacious-vertical-desktop;
    }
    section:last-child{
      padding-bottom: $box-spacious-vertical-desktop;
    }
  }
}

