.simple-list{
  background-color: $box-background-color;

  border-radius: $box-radius;
  box-shadow: $box-shadow;
  color: $box-color;

  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  .simple-list-header{
    color: #4a4a4a;
    font-size: 1.25rem;
    font-weight: 600;
    padding: .75em;
    align-content: center;
    text-align: center;
  }

  .simple-list-price{
    //background-color: #fff;
    //color: #4a4a4a;
    //font-size: .75rem;
    font-weight: 400;
   // padding: .75em;
    align-content: center;
    text-align: center;

    .simple-list-price-amount{
     // font-size: 2.5rem;
      font-weight: 700;

      .simple-list-price-currency{
    //    vertical-align: super;
      //  font-size: 1rem !important;
        font-weight: 400 !important;
      //  color: #4a4a4a;
      //  margin-right: .25rem;
      }
    }
  }

  .simple-list-item{
    font-size: .9em;
    background: #f5f5f5;
    padding: .75em;
    color: #7a7a7a;

    //align-content: center;
    //text-align: center;

    .simple-list-label{
      display: block;
      font-weight: 600;
      font-size: .8rem;
      opacity: .8;
     // color: #b5b5b5;
      margin-bottom: .5rem;
    }
  }

  .simple-list-item:last-child{

  }

  .simple-list-item + .simple-list-item{
    border-top: .1rem solid $box-background-color;
  }
}