@import "/style/variables";

.tasks{
  @extend %unselectable;

  &:first-child{
    .task:first-child{
      border-top: none;
    }
  }

  .task{
    position: relative;
    padding: $box-padding;
    border-top: 1px solid $offset-border-color;

    .task-title{
      font-size: $size-6;
      font-weight: $weight-medium;
    }

    &.is-activator{
      .task-icon{
        svg{
          @include icon-svg-link;
        }
      }
      .task-title{
        cursor: pointer;
        color: $link;
      }

      &:hover{
        background: $offset-color;
        cursor: pointer;
      }
    }

    .task-content{
      display:none;
    }

    &.is-active{
      cursor: default;
      background-color: $offset-color;

      .task-icon{
        svg{
          @include icon-svg-link-active;
        }
      }
      .task-content{
        display: initial;
      }
      .task-title{
        color: $link-active;
      }
    }
  }
}

.box .tasks{
  margin-left: -$box-padding;
  margin-right: -$box-padding;

  &:first-child{
    margin-top: -$box-padding;
    border-top-left-radius: $box-radius;
    border-top-right-radius: $box-radius;

    .task:first-child{
      border-top-left-radius: $box-radius;
      border-top-right-radius: $box-radius;
    }
  }

  &:last-child{
    margin-bottom: -$box-padding;
    border-bottom-left-radius: $box-radius;
    border-bottom-right-radius: $box-radius;

    .task:last-child{
      border-bottom-left-radius: $box-radius;
      border-bottom-right-radius: $box-radius;
    }
  }
}