@import "/style/variables";

$toolbar-bg-color: #2b303b;
$toolbar-highlight-bar-color: white;
$toolbar-text-color: #788195;

/**
 * No padding by default -- relies on nav-link/navbar-text to have padding,
 *  which creates "full toolbar height" buttons and links.
 */
header {
  background-color: $toolbar-bg-color;
  color: $toolbar-text-color;
  fill: $toolbar-text-color;

  @include box-shadow($box-shadow);

  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: $zindex-sticky;

  .navbar {
    padding: 0;
    //font-size: .9rem;
  }

  .nav-item-spacer{
    display:inline-block;
    width: 1.5rem;
  }

  .navbar-nav {

    .nav-link, .navbar-text {
      padding: 1rem .5rem;
    }

    .nav-link svg {
      height: 1rem;
      vertical-align: text-top;
    }

    .nav-link {
      color: $toolbar-text-color;
      fill: $toolbar-text-color;
      transition: color 0.5s ease, fill 0.25s ease;
    }

    .nav-link:hover {
      color: #788195;
      fill: #788195;
    }

    .nav-link.active, .navbar-text.active {
      font-weight: 500;
      color: $toolbar-text-color;
      fill: $toolbar-text-color;
      position: relative; /* necessary for using :after in position absolute */
    }

    /**
     * Highlight bar underneath active link.
     */
    .nav-link.active:after, .navbar-text.active:after {
      content: '';
      display: block;
      height: 2px;
      bottom: 0;
      position: absolute;
      background: $toolbar-highlight-bar-color;
      width: 50%;
      left: 25%;
    }

    /**
     * .dropped is not standard but comes from /js/dropdown.js
     * see _dropdown.scss for styling
     */
    .nav-item.dropdown.dropped > .nav-link.dropdown-toggle {
      background: darken($toolbar-bg-color, 50%);
    }

  }
}