
/**
 * Branding
 */

$blue: #0c84cd;
$blue-light: #238cd6;
$blue-lighter: #409ce7;

$primary: $blue;
$info: $blue;

$black: #14171A;
$black-bis: #14171A;
$black-ter: #14171A;

$white: #ffffff;
$white-ter: #F5F8FA;
$white-bis: #F5F8FA;

$grey-darker: #2a3137;
$grey-dark: #414c56;
$grey: #657786;
$grey-light: #aab8c2;
$grey-lighter: #E1E8ED;
$grey-lightest: #F5F8FA;

/**
 * Import
 */

@import "/bulma/utilities/initial-variables";
@import "/bulma/utilities/functions";
@import "/bulma/utilities/derived-variables";

/**
 * Custom
 */

$shadow-sm: 0 .125rem .25rem rgba($black, .075) !default;
$shadow: 0 .5rem 1rem rgba($black, .15) !default;
$shadow-lg: 0 1rem 3rem rgba($black, .175) !default;

$shadow-for-bg-small: 0 2px 5px 0 rgba($black, 0.1), 0 1px 1px 0 rgba($black, .07) !default;
$shadow-for-bg: 0 7px 14px 0 rgba($black, 0.1), 0 3px 6px 0 rgba($black, .07) !default;
$shadow-for-bg-large: 0 15px 35px 0 rgba($black, 0.1), 0 5px 15px 0 rgba($black, .07) !default;

$zindex-sticky: 39; // less than $modal-z

$offset-color: $grey-lightest;
$offset-border-color: $grey-lighter;
$offset-box-shadow: inset 0 -1px $offset-border-color;

/**
 * Overrides
 */
$navbar-breakpoint: 0px;

$family-sans-serif: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

$input-border-color: $grey-lighter;

$body-background-color: $grey-lighter;
$body-size: 15px;
$body-line-height: normal;
$body-weight: $weight-normal;

$card-shadow: $shadow-for-bg;
$card-shadow-hover: $shadow-for-bg-large;
$card-color: $text !default;
$card-background-color: $white !default;
$card-radius: $radius;

$tag-radius: $radius-small;

$box-radius: $radius;
$box-shadow: $shadow-for-bg;

$size-7: .8rem; // primarily done for form .help
$size-small: .8rem; // primarily done for form .help

//$hr-background-color: $body-background-color;
//$hr-margin: 1.5rem 0;

$label-weight: $weight-semibold;

/**
 * Why aren't these colors properly overridden?
 */
.has-text-link{
  color: $link !important; //??
}
.has-text-primary{
  color: $primary !important; //??
}
.button.is-primary{
  background-color: $primary !important;
}

/**
 * Use bootstrap breakpoints
 */
$tablet: 576px;
$desktop: 768px /*+ 2 * $gap*/;
$widescreen: 992px /*+ 2 * $gap*/;
$fullhd: 1200px /*+ 2 * $gap*/;

/**
 * Icons
 */

$icon-link-color: $blue;
$icon-link-accent-color: $blue-light;

$icon-link-active-color: $link-active;
$icon-link-active-accent-color: $link-active; // TODO doesn't seem right, but where does it appear?

$icon-ui-color: $grey-dark;
$icon-ui-accent-color: $grey-light;
$icon-ui-accent-opacity: 1;

@mixin icon-svg-link {
  fill: $icon-link-color;

  .icon-accent {
    fill: $icon-link-accent-color;
    opacity: .3;
  }
}

@mixin icon-svg-active {
  @include icon-svg-link
}

@mixin icon-svg-link-active {
  fill: $icon-link-active-color;

  .icon-accent {
    fill: $icon-link-active-accent-color;
    opacity: .3;
  }
}