@import "/style/variables";

///////

@import "/bulma/utilities/all";

@import "/bulma/base/_all";

@import "/bulma/elements/box";
@import "/bulma/elements/button";
@import "/bulma/elements/container";
@import "/bulma/elements/form";
@import "/bulma/elements/icon";
@import "/bulma/elements/image";
@import "/bulma/elements/notification";
@import "/bulma/elements/tag";
@import "/bulma/elements/title";

@import "/bulma/components/card";
@import "/bulma/components/dropdown";
@import "/bulma/components/media";
@import "/bulma/components/navbar";
@import "/bulma/components/tabs";

@import "/bulma/grid/columns";

////////

@import "/style/ext/tooltip";

@import "/js/app/form";
@import "/js/app/message";
@import "/js/app/progress";
@import "/js/app/tabs";
@import "/js/app/filter";

////////////

/**
 * input.star
 *
 * <input class="star" type="checkbox" title="bookmark page">
 * TODO disable this display for screen readers?
 */
/*
input.star {
  visibility:hidden;
  font-size:1rem;
  cursor:pointer;
}
input.star:before {
  content: "\2605";
  //position: absolute;
  visibility:visible;
}
input.star:checked:before {
  content: "\2606";
  //position: absolute;
}*/

/**
 * TODO consider screen readers, likely from a body class -- display is unnecessary in that case
 */
.toggler {
  cursor: pointer;
  display: inline-block;
  //background-color: rgba(0,0,0, 0.2);
  //border: none;
 // border-radius: $radius-rounded;
  position:relative;
  flex-grow: 0;
  flex-shrink: 0;

  input[type="checkbox"] {
    display: none;
  }
}
.toggler:hover, .toggler:focus{
  //background-color: rgba(0,0,0, 0.3);
}
.toggler:active{
  //background-color: rgba(0,0,0, 0.4);
}
.toggler input:checked ~ .is-checked {
  display: inline-block;
}
.toggler input:checked ~ .is-unchecked {
  display: none;
}
.toggler input ~ .is-unchecked {
  display: inline-block;
}
.toggler input ~ .is-checked {
  display: none;
}



/**
 * header
 */
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: $zindex-sticky;

  .navbar{
    box-shadow: $box-shadow;

    /**
     * Provide same svg 'fill' as text 'color'
     * Meaning: we want svg's to have same color as the text.
     */
    @each $name, $pair in $colors {
      $color-invert: nth($pair, 2);
      &.is-#{$name} {
        fill: $color-invert !important;
      }
    }

    /**
     * <span class='icon'>...</span>
     * <span>text</span>
     * ensures spacing between the two
     */
    a.navbar-item>.icon:not(:last-child) {
      margin-left: -.25em;
      margin-right: .25em;
    }
  }
}

/**
 * main
 */
main{
  padding-top: 1rem;
}
/**
 * main > .is-capped -- is pulled up to be snug with <main>
 */
main > .is-capped:first-child{
  margin-top: -1rem;
  border-top: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

/**
 * .fade
 * .fade.show
 *
 * Full opacity toggle with transition

$transition-fade:  opacity .15s linear !default;
.fade {
  opacity: 0;
  transition: $transition-fade;

  &.show {
    opacity: 1;
  }
}*/

/**
 * .container
 */
.container{
  padding-left: 12px;
  padding-right: 12px;
}
@include tablet(){
  padding-left: 15px;
  padding-right: 15px;
}

/**
 * .icon > .svg
 */
.icon > svg{
  width: 100%;
  height: 100%;
}
/**
 * .icon > svg .has-text-X variations
 *
 * Adapted from bulma logic for .has-text-X
 */
@each $name, $shade in $shades {
  .has-text-#{$name} .icon > svg, .has-text-#{$name}.icon > svg{
    fill: $shade !important;
  }
}
@each $name, $pair in $colors { //
  $color: nth($pair, 1);

  .has-text-#{$name} .icon > svg, .has-text-#{$name}.icon > svg{
    fill: $color !important;
  }
}

/**
 * .is-revealable / .is-revealer
 */
.is-revealer:hover .is-revealed{
  visibility: visible;
}
.is-revealed{
  visibility: hidden;
}

/**
 * .card
 */
.card{
  border-radius: $card-radius;
}

/**
 * a.card
 */
a.card{
  display:block;
}

/**
 * .card.is-hoverable
 */
$card-hoverable-transation: box-shadow .2s ease-in-out;
.card.is-hoverable{
  //display:block;
  //text-decoration: none !important;
  transition: $card-hoverable-transation;
  will-change: box-shadow;

  &:hover{
    box-shadow: $card-shadow-hover;
  }
}

/**
 * .card-footer.is-small
 */
.card-footer.is-small{
  border-top: 1px solid rgba(0,0,0,0.05);
  margin-left: .5rem;
  margin-right: .5rem;
  padding: 0.1rem;
}

/**
 * .card.is-proposed
 *
 * A kind of virtual card -- a card that could be, usually for "add/new".
 */
$card-proposed-transition: opacity .2s ease-in-out;
.card.is-proposed{
  opacity: .6;
  border: 1px rgba(0,0,0,.2) dashed;
  transition: $card-proposed-transition;
  will-change: opacity;

  &:hover{
    opacity: 1;
  }
}
.card.is-proposed.is-hoverable{
  transition: $card-hoverable-transation, $card-proposed-transition;
  will-change: opacity, box-shadow;
}

/**
 * .box.is-spacious
 *
 * Typically for a full page .box, usually with .is-capped
 */
.box.is-spacious{
  /*position: relative;*/
  padding: 32px;
}
@include tablet(){
  .box.is-spacious {
    padding: 80px 40px;
  }
}