@import "/bootstrap/functions";
@import "/bootstrap/variables";
@import "/bootstrap/mixins";

/**
 * No padding by default -- relies on nav-link/navbar-text to have padding,
 *  which creates "full toolbar height" buttons and links.
 */
header {
  background: white;
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .1);

  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: $zindex-sticky;

  .navbar {
    padding: 0;
    //font-size: .9rem;
  }

  .nav-item-spacer{
    display:inline-block;
    width: 1.5rem;
  }

  .navbar-nav {

    .nav-link, .navbar-text {
      padding: .75rem .5rem;
    }

    .nav-link svg {
      height: 1rem;
      vertical-align: text-top;
    }

    .nav-link {
      color: $gray-600;
      fill: $gray-600;
      transition: color 0.5s ease, fill 0.25s ease;
    }

    .nav-link:hover {
      color: $blue;
      fill: $blue;
    }

    .nav-link.active, .navbar-text.active {
      font-weight: 500;
      color: $gray-800;
      fill: $gray-800;
      position: relative; /* necessary for using :after in position absolute */
    }

    /**
     * Highlight bar underneath active link.
     */
    .nav-link.active:after, .navbar-text.active:after {
      content: '';
      display: block;
      height: 2px;
      bottom: 0;
      position: absolute;
      background: $blue;
      width: 50%;
      left: 25%;
    }

    /**
     * .dropped is not standard but comes from /js/dropdown.js
     * see _dropdown.scss for styling
     */
    .nav-item.dropdown.dropped > .nav-link.dropdown-toggle {
      @include gradient-bg($dropdown-link-hover-bg);
    }

  }
}