@import "/style/variables";

/**
 * data-controller="percent"
 *
 * Note: Not all percents should be colored on up/down (good/bad).
 */
[data-controller="percent"].has-percent-direction-coloring{
  color: $grey;

  &.[data-percent-direction="up"]{
    color: $green;
  }

  &.[data-percent-direction="down"]{
    color: $red;
  }

}