@import "/style/variables";

form.submitted .form-processing{
  display: inline-block;
}

/**
 * The following handles the wait indicator.
 */

// <div class="form-processing"><div></div><div></div><div></div><div></div></div>

.form-processing {
  display: none;
  position: relative;
  width: 26px;
  height: 6px;
  vertical-align: middle;
  margin-left: 6px;
}
.form-processing div {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
/**
 * Make indicator color same as the text color of the various button variations.
 */
@each $color, $value in $theme-colors {
  .btn-#{$color} .form-processing div {
    background-color: color-yiq($value);
  }
}
.btn-link .form-processing div{
  background-color: $link-color;
}
.form-processing div:nth-child(1) {
  left: 0px;
  animation: form-processing1 0.6s infinite;
}
.form-processing div:nth-child(2) {
  left: 0px;
  animation: form-processing2 0.6s infinite;
}
.form-processing div:nth-child(3) {
  left: 10px;
  animation: form-processing2 0.6s infinite;
}
.form-processing div:nth-child(4) {
  left: 20px;
  animation: form-processing3 0.6s infinite;
}
@keyframes form-processing1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes form-processing3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes form-processing2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(10px, 0);
  }
}