@import "/style/variables";

#messages{
  position: fixed;
  z-index: 999999;
  pointer-events: none;

  /**
   * Necessary because these are put outside of the <body>, within <html>
   */
  font-family: $family-sans-serif;
}

#messages.messages-bottom-left{
  bottom: 2.5rem;
  left: 2.5rem;
}

#messages {
  .notification{
    max-width: 300px;

    margin-top: .25rem;
    position: relative;
    padding: 1rem;

    opacity: 0;
    transform: translate(0, 200%);
    will-change: transform, opacity;
  }

  .notification.is-info{
    background: black;
    color: white;
  }

  /**
   * Two classes are necessary in Chrome to prevent a transition on initial page load
   * (initial insert of element into DOM).
   */

  .notification.message-hide{
    transform: translate(0, 200%);
    transition: transform 0.25s cubic-bezier(0.4, 0, 1, 1), opacity .25s;
  }

  .notification.message-show{
    opacity: 1;
    transform: translate(0);
    transition: transform 0.25s cubic-bezier(0, 0, 0.2, 1), opacity .25s;
  }
}

