/**
 * Initial state off page
 */

#notification{
  position: fixed;
  bottom: 1.5rem;
  left: 2rem;
  padding: 1rem;
  background: black;
  color: white;
  transform: translate(0, 200%);
  will-change: transform;
}

/**
 * Two classes are necessary in Chrome to prevent a transition on initial page load
 * (initial insert of element into DOM).
 */

#notification.notification-hide{
  transform: translate(0, 200%);
  transition: transform 0.25s 0ms cubic-bezier(0.4, 0, 1, 1), -webkit-transform 0.25s 0ms cubic-bezier(0.4, 0, 1, 1);
}

#notification.notification-show{
  transform: translate(0);
  transition: transform 0.25s 0ms cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.25s 0ms cubic-bezier(0, 0, 0.2, 1);
}