//@import "/style/variables";

.w-10{
  width: 10% !important;
}
.w-25{
  width: 25% !important;
}
.w-50{
  width: 50% !important;
}
.w-75{
  width: 75% !important;
}

.turbolinks-progress-bar {
  visibility: hidden;
}

#global-progress.progress{
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  height: 0px;
  pointer-events: none;
  transition: height 400ms ease-out;
  background:transparent;
  width:100%;
}

#global-progress.progress.show{
  height: 2px;
}

#global-progress.progress .progress-bar{
  width: 0%; // Effectively the initial state on first display
  pointer-events: none;

  // TODO reinstate
  //@include box-shadow($box-shadow-sm);

  -moz-transition: width 500ms ease-out,opacity 400ms linear;
  -ms-transition: width 500ms ease-out,opacity 400ms linear;
  -o-transition: width 500ms ease-out,opacity 400ms linear;
  -webkit-transition: width 500ms ease-out,opacity 400ms linear;
  transition: width 500ms ease-out,opacity 400ms linear;
}