.tab-content > .tab-pane {
  display: none;
}
.tab-content > .is-active {
  display: block;
}

/**
 * tabs as filters for display of elements
 */
.tab-content div.is-filterable{
  display: none;
}
.tab-content div.is-filterable.is-visible{
  display: block;
}