
// https://github.com/Wikiki/bulma-tooltip
// https://wikiki.github.io/elements/tooltip/

@-webkit-keyframes spinAround {from {
  -webkit-transform: rotate(0);
  transform: rotate(0)
}
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg)
  }

}
@keyframes spinAround {from {
  -webkit-transform: rotate(0);
  transform: rotate(0)
}
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg)
  }

}
.tooltip {
  position: relative
}
.tooltip.is-tooltip-active:not(.is-loading)::after,.tooltip:hover:not(.is-loading)::after {
  z-index: 99999;
  position: absolute;
  display: inline-block;
  pointer-events: none
}
.tooltip.is-tooltip-active::before,.tooltip:hover::before {
  z-index: 99999;
  position: absolute;
  display: inline-block;
  pointer-events: none
}
.tooltip.is-tooltip-active:not(.is-loading)::after,.tooltip:hover:not(.is-loading)::after {
  content: "";
  border-style: solid;
  border-width: .5rem
}
.tooltip.is-tooltip-active::before,.tooltip:hover::before {
  opacity: 0;
  content: attr(data-tooltip);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: .8rem;
  padding: 1rem;
  -webkit-transform: translate(-50%,1rem);
  transform: translate(-50%,1rem);
  background: rgba(74,74,74,.9);
  border-radius: 3px;
  color: #fff;
  max-width: 24rem
}
.tooltip.is-tooltip-active:not(.is-loading)::after,.tooltip:focus:not(.is-loading)::after,.tooltip:hover:not(.is-loading)::after {
  top: 0;
  bottom: auto;
  left: 50%;
  opacity: 1;
  margin-left: -.5rem;
  margin-top: -.5rem;
  border-color: rgba(74,74,74,.9) transparent transparent transparent
}
.tooltip.is-tooltip-active::before,.tooltip:focus::before,.tooltip:hover::before {
  top: auto;
  bottom: 100%;
  left: 50%;
  opacity: 1;
  -webkit-transform: translate(-50%,-.5rem);
  transform: translate(-50%,-.5rem)
}
.tooltip.is-tooltip-right::before {
  top: auto;
  bottom: 50%;
  left: 100%;
  right: auto;
  -webkit-transform: translate(-1rem,50%);
  transform: translate(-1rem,50%)
}
.tooltip.is-tooltip-right.is-tooltip-active:not(.is-loading)::after,.tooltip.is-tooltip-right:focus:not(.is-loading)::after,.tooltip.is-tooltip-right:hover:not(.is-loading)::after {
  top: 50%;
  left: 100%;
  right: auto;
  border-color: transparent rgba(74,74,74,.9) transparent transparent
}
.tooltip.is-tooltip-right.is-tooltip-active::before,.tooltip.is-tooltip-right:focus::before,.tooltip.is-tooltip-right:hover::before {
  -webkit-transform: translate(.5rem,50%);
  transform: translate(.5rem,50%)
}
.tooltip.is-tooltip-bottom::before {
  top: 100%;
  bottom: auto;
  left: 50%;
  right: auto;
  -webkit-transform: translate(-50%,-1rem);
  transform: translate(-50%,-1rem)
}
.tooltip.is-tooltip-bottom.is-tooltip-active:not(.is-loading)::after,.tooltip.is-tooltip-bottom:focus:not(.is-loading)::after,.tooltip.is-tooltip-bottom:hover:not(.is-loading)::after {
  top: 100%;
  bottom: auto;
  left: 50%;
  right: auto;
  border-color: transparent transparent rgba(74,74,74,.9) transparent
}
.tooltip.is-tooltip-bottom.is-tooltip-active::before,.tooltip.is-tooltip-bottom:focus::before,.tooltip.is-tooltip-bottom:hover::before {
  -webkit-transform: translate(-50%,.5rem);
  transform: translate(-50%,.5rem)
}
.tooltip.is-tooltip-left::before {
  top: auto;
  bottom: 50%;
  left: auto;
  right: 100%;
  -webkit-transform: translate(1rem,50%);
  transform: translate(1rem,50%)
}
.tooltip.is-tooltip-left.is-tooltip-active:not(.is-loading)::after,.tooltip.is-tooltip-left:focus:not(.is-loading)::after,.tooltip.is-tooltip-left:hover:not(.is-loading)::after {
  top: 50%;
  left: auto;
  right: calc(100% - .5rem);
  border-color: transparent transparent transparent rgba(74,74,74,.9)
}
.tooltip.is-tooltip-left.is-tooltip-active::before,.tooltip.is-tooltip-left:focus::before,.tooltip.is-tooltip-left:hover::before {
  -webkit-transform: translate(-.5rem,50%);
  transform: translate(-.5rem,50%)
}
.tooltip.is-tooltip-multiline::before {
  text-overflow: clip;
  white-space: normal;
  word-break: keep-all
}